/* POKEDEX */
.selector-card {
    margin: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border: solid 5px #28527a;
    border-radius: 4rem;
}

.grid {
    margin: 2.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* POKEMON FINDER */
.finder {
    height: 1.8rem;
    width: 8rem;
    background-color: #94b5c0;
    border: solid 3px #28527a;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    font-weight: bold;
    text-align: center;
}

.search-button {
    height: 2.3rem;
    width: 4rem;
    border: none;
    background-color: #28527a;  
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    color: #fff;
    font-weight: bold;
}

/* POKEMON TYPE */
.select-type {
    margin: 0.7rem;
}

.select {
    height: 2.2rem;
    width: 8.5rem;
    border-radius: 1rem;
    background-color: #28527a;  
    color: #fff;
    padding-left: 5px;
    font-size: 15px;
    font-weight: bold;
}