.poke-card {
    background-color: #252525;
    border-radius: 1.8rem;
    margin: 0.3rem;
    width: 12rem;
    color: #fff;
}

.info {
    padding-left: 0.5rem;
    border: solid 3px #252525;
    background-color: #fff;
    border-radius: 1rem;
    text-align: left;
    font-family: cursive;
    font-size: 15px;
    color: #121013;
}

.name {
    margin-top: 0.8rem;
    margin-bottom: 0.2rem;
    font-family: 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
}

.type {
    margin: 0;
    margin-left: 1rem;
    width: 6rem;
    background-color: #121013;
    text-align: center;
    border-radius: 1.2rem;
    height: 1.3rem;
}

.not-margin {
    margin: 3px;
}